# Reto 02
**_Dr. Antonio Arista Jalife._**

En este reto deber√°s modificar los grados del polinomio y revisar como afecta eso el MSE

In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error

In [22]:
housing = fetch_california_housing()
housingDataFrame = pd.DataFrame(housing.data, columns = housing.feature_names)
housingDataFrame["MedHouseVal"] = housing.target
X = housingDataFrame[['MedInc','HouseAge','AveRooms','AveBedrms','AveOccup']]
Y = housingDataFrame['MedHouseVal']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.4, random_state=5)

### Ejemplo de polinomio de grado 2
Ahora probaremos con un polinomio de grado 2

In [23]:
poly_model = LinearRegression()
poly = PolynomialFeatures(degree=4)

Xpolytrain = poly.fit_transform(X_train)
Xpolytest = poly.fit_transform(X_test)

poly_model.fit(Xpolytrain, Y_train)
y_train_predict = poly_model.predict(Xpolytrain)

MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = poly_model.predict(Xpolytest)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

df_predicciones = pd.DataFrame({'valor_real':Y_test, 'prediccion':y_test_predict, 'diferencia':Y_test-y_test_predict})
df_predicciones = df_predicciones.reset_index(drop = True)
df_predicciones.head(10)

Entrenamiento: MSE =0.415144151631757
Pruebas: MSE =244740868.29726744

   valor_real  prediccion  diferencia
0     0.93600    1.277252   -0.341252
1     1.53600    2.009396   -0.473396
2     1.32500    3.881011   -2.556011
3     1.47900    1.210024    0.268976
4     1.20700    1.539079   -0.332079
5     1.15500    2.404450   -1.249450
6     1.63300    1.481153    0.151847
7     1.60300    2.334389   -0.731389
8     3.40600    2.994754    0.411246
9     5.00001    4.412464    0.587546

In [24]:
poly_model.n_features_in_

126

In [18]:
poly.n_output_features_

6

In [19]:
poly.n_features_in_

2

In [11]:
poly_model = LinearRegression()
poly = PolynomialFeatures(degree=3)

Xpolytrain = poly.fit_transform(X_train)
Xpolytest = poly.fit_transform(X_test)

poly_model.fit(Xpolytrain, Y_train)
y_train_predict = poly_model.predict(Xpolytrain)

MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = poly_model.predict(Xpolytest)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

df_predicciones = pd.DataFrame({'valor_real':Y_test, 'prediccion':y_test_predict, 'diferencia':Y_test-y_test_predict})
df_predicciones = df_predicciones.reset_index(drop = True)
df_predicciones.head(10)

Entrenamiento: MSE =0.6800197707092466
Pruebas: MSE =0.6876549545668631

   valor_real  prediccion  diferencia
0     0.93600    1.542510   -0.606510
1     1.53600    1.904081   -0.368081
2     1.32500    1.019615    0.305385
3     1.47900    1.513915   -0.034915
4     1.20700    1.476283   -0.269283
5     1.15500    2.467328   -1.312328
6     1.63300    1.590204    0.042796
7     1.60300    1.670807   -0.067807
8     3.40600    3.142898    0.263102
9     5.00001    3.892193    1.107817

In [5]:
poly_model = LinearRegression()
poly = PolynomialFeatures(degree=4)

Xpolytrain = poly.fit_transform(X_train)
Xpolytest = poly.fit_transform(X_test)

poly_model.fit(Xpolytrain, Y_train)
y_train_predict = poly_model.predict(Xpolytrain)

MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = poly_model.predict(Xpolytest)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

df_predicciones = pd.DataFrame({'valor_real':Y_test, 'prediccion':y_test_predict, 'diferencia':Y_test-y_test_predict})
df_predicciones = df_predicciones.reset_index(drop = True)
df_predicciones.head(10)

Entrenamiento: MSE =0.6761919522711133
Pruebas: MSE =0.7008601334810781

   valor_real  prediccion  diferencia
0     0.93600    1.528540   -0.592540
1     1.53600    1.897501   -0.361501
2     1.32500    0.663510    0.661490
3     1.47900    1.507006   -0.028006
4     1.20700    1.470119   -0.263119
5     1.15500    2.473770   -1.318770
6     1.63300    1.577534    0.055466
7     1.60300    1.661098   -0.058098
8     3.40600    3.144228    0.261772
9     5.00001    3.875875    1.124135

In [6]:
poly_model = LinearRegression()
poly = PolynomialFeatures(degree=5)

Xpolytrain = poly.fit_transform(X_train)
Xpolytest = poly.fit_transform(X_test)

poly_model.fit(Xpolytrain, Y_train)
y_train_predict = poly_model.predict(Xpolytrain)

MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = poly_model.predict(Xpolytest)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

df_predicciones = pd.DataFrame({'valor_real':Y_test, 'prediccion':y_test_predict, 'diferencia':Y_test-y_test_predict})
df_predicciones = df_predicciones.reset_index(drop = True)
df_predicciones.head(10)

Entrenamiento: MSE =0.671014570579077
Pruebas: MSE =0.6927922956014725

   valor_real  prediccion  diferencia
0     0.93600    1.528889   -0.592889
1     1.53600    1.892781   -0.356781
2     1.32500    2.301252   -0.976252
3     1.47900    1.509427   -0.030427
4     1.20700    1.470623   -0.263623
5     1.15500    2.470173   -1.315173
6     1.63300    1.576515    0.056485
7     1.60300    1.661484   -0.058484
8     3.40600    3.134368    0.271632
9     5.00001    3.879676    1.120334

AttributeError: 'LinearRegression' object has no attribute 'feature_names_in_'